.grand-prix {
  flex-direction: column;
}

.flag-icon-grand-prix,
.flag-icon-grand-prix-az {
  width: 55px;
  height: auto;
}

.grand-prix-info {
  margin-bottom: 30px;
}

.race-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.grand-prix-flag {
  margin-top: 10px;
  margin-right: 10px;
  width: auto;
}

.grand-prix-table-section {
  display: flex;
  flex-direction: column;
}

.table-wrapper-grand-prix {
  width: 100%;
  overflow-y: auto;
}

.table-wrapper-grand-prix+.table-wrapper-grand-prix {
  margin-top: 30px;
}

.race-date {
  font-weight: bold;
}

.no-qualifying-results .table-wrapper-grand-prix {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .table-wrapper-grand-prix+.table-wrapper-grand-prix {
    margin-left: 40px;
    margin-top: 0;
  }

  .grand-prix-table-section {
    flex-direction: row;
  }

  .table-wrapper-grand-prix {
    width: 50%;
  }
}