* {
  box-sizing: border-box;
}

/* RESET */

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

/* GENERAL CLASSES*/

.active {
  background-color: #f82b2b;
}

.link {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}

.link:hover {
  color: #9c9696;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #222;
}

.share-icon {
  color: #f82b2b;
  vertical-align: middle;
}

.flag-icon {
  margin-right: 5px;
}

.flag-az {
  height: 17px;
  width: 26px;
  margin-right: 5px;
}

.winner-details {
  align-items: center;
  display: flex;
}

.page-layout {
  display: flex;
  flex-direction: column;
  background-color: #222;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url(../public/assets/f1HomePage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  color: #fff;
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 40px;
}

/* TABLE */

.table-wrapper {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 20px);
  overflow-y: auto;
  opacity: 0.9;
  margin-top: 25px;
}

table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}

table caption {
  background-color: #9c9696;
  text-align: left;
  padding: 10px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

thead {
  position: sticky;
  top: -1px;
}

th {
  background-color: #9c9696;
  border: 1px solid #000;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  border: 1px solid black;
}

/* TABLE POSITION CLASSES */

.default-background {
  background-color: darkgray;
}

.position-1 {
  background-color: yellow;
}

.position-2 {
  background-color: grey;
}

.position-3 {
  background-color: orange;
}

.position-4 {
  background-color: lightgreen;
}

.position-5 {
  background-color: lightblue;
}

.position-6 {
  background-color: rgb(222, 222, 154);
}

.position-7 {
  background-color: lightsalmon;
}

.position-8 {
  background-color: lightcyan;
}

.position-9 {
  background-color: lightskyblue;
}

.position-10 {
  background-color: lightcoral;
}

/* HOME PAGE*/

.home-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.home-page img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* OTHER PAGES */

.details-container {
  position: relative;
}

.driver-team-details {
  background-color: #222;
  color: #fff;
}

.details-info {
  padding: 20px;
  border-bottom: 1px solid #000;
  margin-top: 45px;
}

.driver-team-info {
  display: flex;
  margin-bottom: 30px;
}

.driver-team-avatar {
  width: 100px;
  margin-right: 10px;
  object-fit: contain;
}

.driver-team-name {
  font-size: 18px;
  font-weight: bold;
}

.details-table-container {
  width: 100%;
  padding: 20px;
  background-color: #ccc;
}

.details-table-content {
  overflow-y: auto;
  height: 100%;
}

.details-race {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.aditional-info-label {
  margin-right: 20px;
}

/* YEAR SELECTOR*/

.year-selector {
  background-color: #222;
  padding: 10px 20px;
  text-align: center;
}

.year-selector-option {
  background-color: #fff;
  color: #222;
}

.select {
  outline: 1px solid #fff;
  outline-offset: 3px;
  width: 80px;
  text-align: center;
}

.select:focus-visible {
  outline: 1px solid #f82b2b;
  outline-offset: 3px;
}


.year-selector label {
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
}

.year-selector select {
  margin-left: 15px;
  font-size: 16px;
  border-radius: 6px;
  padding: 5px;
  background-color: #f82b2b;
  color: #fff;
}

/* BREADCRUMB */

.breadcrumb-container {
  margin-top: 0;
  background-color: #222;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-breadcrumb-separator {
  display: none;
}

.ant-breadcrumb ol {
  column-gap: 5px;
}

.ant-breadcrumb a {
  margin-inline: auto;
}

.breadcrumb-link {
  color: #fff !important;
}

.breadcrumb-link.current {
  cursor: default;
}

.breadcrumb-link .anticon-home {
  margin-right: 5px;
}

.breadcrumb-link.active {
  cursor: pointer;
}

.breadcrumb-link.active:hover {
  background-color: #f82b2b;
}

/* SEARCH INPUT */

.search-input {
  width: 150px;
  position: absolute;
  top: 5px;
  right: 20px;
}

.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #f82b2b;
}

@media screen and (min-width: 480px) {
  .search-input {
    width: 200px;
  }

  .details-info {
    display: flex;
  }

  .driver-team-info {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .page-layout {
    flex-direction: row;
    height: 100%;
  }

  .search-input {
    width: 300px;
  }

  .container {
    height: 100vh;
    overflow: hidden;
    flex-grow: 0;
  }

  .table-wrapper {
    margin-top: 50px;
  }

  .details-container {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }

  .details-table-container {
    margin-top: 0;
  }

  .driver-team-details {
    margin-top: 40px;
  }

  .details-info {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .details-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .driver-team-details {
    min-width: 15vw;
  }

  .details-info {
    display: flex;
    flex-direction: column;
  }

  .driver-team-info {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .details-table-container {
    margin-top: 40px;

  }
}